version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/javascript-node:22
    volumes:
      - .:/workspace:cached
    command: sleep infinity
    network_mode: service:mongo

  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: